* {
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

.todo {
    position: absolute;
    right: 0;
    left: 0;

    width: 600px;
    margin: auto;

    top: 200px;
    
    &__body {
        box-shadow: 0 0 3px #999;
    }
}



.task {
    line-height: 50px;

    width: 100%;
    min-height: 50px;

    border-bottom: 1px solid #ededed;

    &__text {
        display: inline-block;
        font-size: 25px;
        width: calc(100% - 100px);
        border: none;
        outline: none;
        word-wrap: break-word;
        
        &_done {
            text-decoration: line-through;
            color: #6E6E6E;
            pointer-events:none;
        }
    }

    &__destroy {
        position: absolute;
        right: 0;

        width: 50px;
        height: 50px;

        transition: .1s;

        opacity: 0;
        border: none;
        outline: none;
        background: none;

        &::before,
        &::after {
            position: absolute;
            left: 15px;

            display: inline-block;

            width: 20px;
            height: 2px;

            content: '';
            transform: rotate(-45deg);

            background: #da4b4d;
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &:hover .task__destroy {
        transition: .1s;

        opacity: 1;
    }
}



.checkbox {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;

    vertical-align: top;
    user-select: none;
    
    &__input {
        opacity: 0;
    }
    &__checkmark {
        position: absolute;
        top: 15px;
        left: 15px;
        line-height: 20px;
        font-size: 0px;
        color: #4BB543;

        display: block;

        width: 20px;
        height: 20px;

        border: 1px solid #c8c8c8;
        border-radius: 10px;
        transition: .1s;
    }
    &__input:checked + &__checkmark {
        font-size: 28px;
        transition: .1s;
    }
}




.add {
    line-height: 50px;

    width: 100%;
    height: 50px;

    box-shadow: 0 4px 5px #aaaaaa;
    
    &__text {
        padding: 0 10px;
        width: 100%;
        line-height: 50px;
        border: none;
        outline: none;
        font-size: 25px;
        
        &::placeholder {
            opacity: 0.5;
        }
    }
}


.menu{
    position: relative;
    margin-bottom: 5px;
    
    &__choose-category {
        width: 330px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        
        & button {
            width: 100px;
            height: 50px;
            border: none;
            outline: none;
            background: none;
            box-shadow: 0 0 5px #aaaaaa;
            margin: 0 5px;
            font-size: 15px;
            border-radius: 2px;
        }
        
        & button.choosen {
            box-shadow: none;
        }
    }
    
    &__clear-completed {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 30px;
        font-size: 10px;
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        border-radius: 3px;
        
        &:hover {
            box-shadow: 0 0 3px #aaaaaa;
        }
        
        &:active {
            box-shadow: 0 0 1px #aaaaaa;
        }
    }
}