* {
    font-family: 'Sriracha', cursive;

    box-sizing: border-box;
}

.todo {
    position: absolute;
    top: 20vh;
    right: 0;
    left: 0;

    width: 95%;
    max-width: 600px;
    margin: auto;

    &__body {
        box-shadow: 0 0 3px #999;
    }
}



.task {
    line-height: 50px;

    width: 100%;
    min-height: 50px;

    border-bottom: 1px solid #ededed;

    &__text {
        font-size: 25px;

        display: inline-block;

        width: calc(100% - 100px);

        word-wrap: break-word;

        border: none;
        outline: none;

        &_done {
            text-decoration: line-through;
            pointer-events: none;

            color: #6e6e6e;
        }
    }

    &__destroy {
        position: absolute;
        right: 0;

        width: 50px;
        height: 50px;

        transition: .1s;

        opacity: 0;
        border: none;
        outline: none;
        background: none;

        &::before,
        &::after {
            position: absolute;
            left: 15px;

            display: inline-block;

            width: 20px;
            height: 2px;

            content: '';
            transform: rotate(-45deg);

            background: #da4b4d;
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &:hover .task__destroy {
        transition: .1s;

        opacity: 1;
    }
}



.checkbox {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;

    user-select: none;
    vertical-align: top;

    &__input {
        opacity: 0;
    }
    &__checkmark {
        font-size: 0;
        line-height: 20px;

        position: absolute;
        top: 15px;
        left: 15px;

        display: block;

        width: 20px;
        height: 20px;

        transition: .1s;

        color: #4bb543;
        border: 1px solid #c8c8c8;
        border-radius: 10px;
    }
    &__input:checked + &__checkmark {
        font-size: 28px;

        transition: .1s;
    }
    &__select-all-label {
        font-size: 10px;

        position: absolute;
        top: 13px;
        left: 40px;

        text-align: center;
    }
}




.add {
    line-height: 50px;

    width: 100%;
    height: 50px;

    box-shadow: 0 4px 5px #aaa;

    &__text {
        font-size: 25px;
        line-height: 50px;

        width: 100%;
        padding: 0 10px;

        border: none;
        outline: none;

        &::placeholder {
            opacity: .5;
        }
    }
}


.menu {
    position: relative;

    margin-bottom: 5px;

    &__choose-category {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        width: 330px;
        margin: auto;

        & button {
            font-size: 15px;

            width: 100px;
            height: 50px;
            margin: 0 5px;

            border: none;
            border-radius: 2px;
            outline: none;
            background: none;
            box-shadow: 0 0 5px #aaa;
        }

        & button.choosen {
            box-shadow: none;
        }
    }

    &__clear-completed {
        font-size: 10px;

        position: absolute;
        right: 0;
        bottom: 0;

        height: 30px;

        border: none;
        border-radius: 3px;
        outline: none;
        background: none;
        box-shadow: none;

        &:hover {
            box-shadow: 0 0 3px #aaa;
        }

        &:active {
            box-shadow: 0 0 1px #aaa;
        }
    }
}


@media screen and (max-width: 500px) {
    .todo {
        top: 10vh;
    }


    .task {
        line-height: 40px;

        min-height: 40px;

        &__text {
            font-size: 20px;

            width: calc(100% - 80px);
        }

        &__destroy {
            width: 40px;
            height: 40px;

            &::before,
            &::after {
                left: 13px;

                width: 15px;
            }
        }
    }


    .checkbox {
        width: 40px;
        height: 40px;
        
        &__checkmark {
            line-height: 20px;

            top: 10px;
            left: 10px;

            width: 20px;
            height: 20px;

            border-radius: 10px;
        }
        &__input:checked + &__checkmark {
            font-size: 25px;
        }
        &__select-all-label {
            font-size: 8px;

            top: 10px;
            left: 35px;
        }
    }


    .add {
        line-height: 40px;

        height: 40px;

        &__text {
            font-size: 20px;
            line-height: 40px;
        }
    }


    .menu {
        &__choose-category {
            width: 198px;

            & button {
                font-size: 10px;

                width: 60px;
                height: 35px;
                margin: 0 3px;

                box-shadow: 0 0 5px #aaa;
            }
        }

        &__clear-completed {
            font-size: 8px;

            height: 30px;
        }
    }
}
