@function rem($px) {
   @return #{$px/16}rem;
}

* {
   font-family: 'Sriracha', cursive;

   box-sizing: border-box;
}
@media screen and (min-width: 2000px) {
   html {
      font-size: 20px;
   }
}
@media screen and (min-width: 2500px) {
   html {
      font-size: 25px;
   }
}
@media screen and (min-width: 3000px) {
   html {
      font-size: 30px;
   }
}
@media screen and (min-width: 4000px) {
   html {
      font-size: 40px;
   }
}

.todo {
   position: absolute;
   top: 20vh;
   right: 0;
   left: 0;

   width: 95%;
   max-width: rem(600);
   margin: auto;

   &__body {
      box-shadow: 0 0 rem(3) #999;
   }
}


//---------------------------------------------------------------------------------------------------------------------------------------
.task {
   line-height: rem(50);

   width: 100%;
   min-height: rem(50);

   border-bottom: rem(1) solid #ededed;

   &__text {
      font-size: rem(25);
      line-height: rem(50);

      display: inline-block;

      width: calc(100% - rem(100));

      word-wrap: break-word;

      border: none;
      outline: none;
      background-color: transparent;

      &_completed {
         text-decoration: line-through;
         pointer-events: none;

         color: #6e6e6e;
      }
   }

   &__destroy {
      position: absolute;
      right: 0;

      width: rem(50);
      height: rem(50);

      cursor: pointer;
      transition: .1s;

      opacity: .5;
      border: none;
      outline: none;
      background: none;

      &::before,
      &::after {
         position: absolute;
         left: rem(15);

         display: inline-block;

         width: rem(20);
         height: rem(2);

         content: '';
         transform: rotate(-45deg);

         background: #da4b4d;
      }
      &::after {
         transform: rotate(45deg);
      }
   }
   &:hover .task__destroy {
      transition: .1s;

      opacity: 1;
   }
}


//---------------------------------------------------------------------------------------------------------------------------------------
.checkbox {
   position: relative;

   display: inline-block;

   width: rem(50);
   height: rem(50);

   cursor: pointer;
   user-select: none;
   vertical-align: top;

   &__input {
      opacity: 0;
   }
   &__checkmark {
      font-size: 0;
      line-height: rem(20);

      position: absolute;
      top: rem(15);
      left: rem(15);

      display: block;

      width: rem(20);
      height: rem(20);

      transition: .1s;

      color: #4bb543;
      border: rem(1) solid #c8c8c8;
      border-radius: rem(10);
   }
   &__input:checked + &__checkmark {
      font-size: rem(28);

      transition: .1s;
   }
   &__select-all-label {
      font-size: rem(10);

      position: absolute;
      top: rem(13);
      left: rem(40);

      text-align: center;
   }
}



//---------------------------------------------------------------------------------------------------------------------------------------
.add {
   line-height: rem(50);

   width: 100%;
   height: rem(50);

   box-shadow: 0 rem(4) rem(5) #aaa;

   &__text {
      font-size: rem(25);
      line-height: rem(50);

      width: 100%;
      padding: 0 rem(10);

      border: none;
      outline: none;

      &::placeholder {
         opacity: .5;
      }
   }
}

//---------------------------------------------------------------------------------------------------------------------------------------
.menu {
   position: relative;

   margin-bottom: rem(5);

   &__choose-category {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      width: rem(330);
      margin: auto;

      & button {
         font-size: rem(15);

         width: rem(100);
         height: rem(50);
         margin: 0 rem(5);

         cursor: pointer;

         border: none;
         border-radius: rem(2);
         outline: none;
         background: none;
         box-shadow: 0 0 rem(5) #aaa;
      }

      & button.choosen {
         cursor: default;

         box-shadow: none;
      }
   }

   &__clear-completed {
      font-size: rem(10);

      position: absolute;
      right: 0;
      bottom: 0;

      height: rem(30);

      cursor: pointer;

      border: none;
      border-radius: rem(3);
      outline: none;
      background: none;
      box-shadow: none;

      &:hover {
         box-shadow: 0 0 rem(3) #aaa;
      }

      &:active {
         box-shadow: 0 0 rem(1) #aaa;
      }
   }
}

//---------------------------------------------------------------------------------------------------------------------------------------
.nothing-there {
   font-size: rem(18);
   line-height: rem(50);

   user-select: none;
   animation: bounce-top .9s both;
   text-align: center;

   color: #ccc;
}
@keyframes bounce-top {
   0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;

      opacity: 1;
   }
   24% {
      opacity: 1;
   }
   40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
   }
   65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
   }
   82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
   }
   93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
   }
   25%,
   55%,
   75%,
   87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
   }
   100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;

      opacity: 1;
   }
}

//---------------------------------------------------------------------------------------------------------------------------------------
@media screen and (max-width: rem(500)) {
   .todo {
      top: 10vh;
   }


   .task {
      line-height: rem(40);

      min-height: rem(40);

      &__text {
         font-size: rem(20);
         line-height: rem(40);

         width: calc(100% - rem(80));
      }

      &__destroy {
         width: rem(40);
         height: rem(40);

         &::before,
         &::after {
            left: rem(13);

            width: rem(15);
         }
      }
   }


   .checkbox {
      width: rem(40);
      height: rem(40);

      &__checkmark {
         line-height: rem(20);

         top: rem(10);
         left: rem(10);

         width: rem(20);
         height: rem(20);

         border-radius: rem(10);
      }
      &__input:checked + &__checkmark {
         font-size: rem(25);
      }
      &__select-all-label {
         font-size: rem(8);

         top: rem(10);
         left: rem(35);
      }
   }


   .add {
      line-height: rem(40);

      height: rem(40);

      &__text {
         font-size: rem(20);
         line-height: rem(40);
      }
   }


   .menu {
      &__choose-category {
         width: rem(198);

         & button {
            font-size: rem(10);

            width: rem(60);
            height: rem(35);
            margin: 0 rem(3);

            box-shadow: 0 0 rem(5) #aaa;
         }
      }

      &__clear-completed {
         font-size: rem(8);

         height: rem(30);
      }
   }
}
